page-footer {
    footer {
        height: 100px;
        background-color: #535656;
        color: white;
        font-family: 'Raleway', sans-serif;
        width: 100%;

        p {
            padding: 0;
            margin: 0;
            padding: 35px 0 0 20px;
            font-size: 1.5em;
        }
    }
}
